<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
        content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/iconfont.css">
</head>

<body>
    <div class="search">
        <span class="iconfont">&#xe60d;</span>
        <input type="text" placeholder="搜索">
    </div>
    <!-- 菜单栏 -->
    <div class="mainnav">
        <li>
            <a href="#">
                <span></span>
                酒店
            </a>
        </li>
        <li>
            <a href="#">
                <span></span>
                酒店
            </a>
        </li>
        <li>
            <a href="#">
                <span></span>
                酒店
            </a>
        </li>
        <li>
            <a href="#">
                <span></span>
                酒店
            </a>
        </li>
        <li>
            <a href="#">
                <span></span>
                酒店
            </a>
        </li>
        <li>
            <a href="#">
                <span></span>
                酒店
            </a>
        </li>
        <li>
            <a href="#">
                <span></span>
                酒店
            </a>
        </li>
        <li>
            <a href="#">
                <span></span>
                酒店
            </a>
        </li>
        <li>
            <a href="#">
                <span></span>
                酒店
            </a>
        </li>
        <li>
            <a href="#">
                <span></span>
                酒店
            </a>
        </li>
        <li>
            <a href="#">
                <span></span>
                酒店
            </a>
        </li>
        <li>
            <a href="#">
                <span></span>
                酒店
            </a>
        </li>
        <li>
            <a href="#">
                <span></span>
                酒店
            </a>
        </li>
        <li>
            <a href="#">
                <span></span>
                酒店
            </a>
        </li>
        <li>
            <a href="#">
                <span></span>
                酒店
            </a>
        </li>
    </div>
    <!-- 特价直播 -->
    <div class="sales">
        <div class="left">
            <div class="left-hd">
                <img src="../static/images/tejia.png" alt="">
                <span>特价好货直播中</span>
            </div>
            <div class="left-bd">
                <img src="../static/images/banner.jpg" alt="">
            </div>
            <div class="left-fd">$888元</div>
        </div>
        <div class="left">
            <div class="left-hd">
                <img src="../static/images/tejia.png" alt="">
                <span>特价好货直播中</span>
            </div>
            <div class="left-bd">
                <img src="../static/images/banner.jpg" alt="">
            </div>
            <div class="left-fd">$888元</div>
        </div>
    </div>
    <!-- 浪周末 -->
    <div class="ad-banner">
        <img src="../static/images/ad.jpg" alt="">
    </div>
    <!-- 底部导航栏 -->
    <div class="tabbar">
        <a href="#">
            <span class="iconfont icon-solid-home"></span>
            首页
        </a>
        <a href="#">
            <span class="iconfont icon-solid-home"></span>
            首页
        </a>
        <a href="#">
            <span class="iconfont icon-solid-home"></span>
            首页
        </a>
        <a href="#">
            <span class="iconfont icon-solid-home"></span>
            首页
        </a>
    </div>
</body>

</html>